/* layout.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*header {
  background-color: tan;
  text-size: 3em;
  color: saddlebrown;
  text-align: center;
  padding: 1rem;
}*/

/* Header (Green banner) */
header {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
  padding: 0.3em 0;     
  margin: 0;
  line-height: 1;        
}

header h1 {
  background-color: tan;
  color: saddlebrown;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;    
}

h2 {
  backgroud-color: tan;
  color: saddlebrown;
  padding: 20px 20px 20px 20px;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
 p { 
   text-align: right;
   color: saddlebrown;
   padding: 10px 20px autp 20px;
   font-size: 10px;
 }
  
footer {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex: 1;
}

.left-column {
  width: 30%;
  padding: 1rem;
  background-color: ivory;
}

.right-column {
  width: 70%;
  padding: 1rem;
  background-color: ivory;
  overflow-y: auto;
  height: 100%;
}

.scroll-text {
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
