/* layout.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: tan;
  text-size: 3em;
  color: saddlebrown;
  text-align: center;
  padding: 1rem;
}

footer {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex: 1;
}

.left-column {
  width: 30%;
  padding: 1rem;
  background-color: ivory;
}

.right-column {
  width: 70%;
  padding: 1rem;
  background-color: ivory
  overflow-y: auto;
  height: 100%;
}

.scroll-text {
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
