/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: tan;
  color: saddlebrown;
  font-family: Arial, sans-serif;
 /* text-align: center;*/
}

/* Header */
header {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
/*  padding: 0.3em 0;   */
  border: 2px solid saddlebrown;
  margin: 0;
  line-height: 1;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);  /* Gradient */
}

header h1 {
  background-color: tan;
  color: saddlebrown;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em; 
/*  border: 2px solid saddlebrown; */
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}

h2 {
  background-color: tan;
  font-size: 3em;
  font-weight: 800;
  color: saddlebrown;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  border-bottom: 2px solid saddlebrown;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}

h3 {
  background-color: tan;
  font-size: 2em;
  color: saddlebrown;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}
/* The sidebar menu */
.sidenav {
 height: auto; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 30px; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-size: 28px;
  width: 40%;
  height: 80%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  
  

 p {
  background-color: tan;
  color: saddlebrown;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  line-height: 50%;
}

    
/* Scroll Container doesn't scrooll but does make box */
.container {
  display: flex;
  flex-wrap: wrap;/* Allows items to wrap onto new lines */
  justify-content: right; /* change from right*/
  text-align: center;
  background-color: tan;
  color: saddlebrown;
}

.scroll-container {
  background-color: tan;
  color: saddlebrown;
  right: 100%;
  top: 0%;
  width: 60vw; /* was 70% top was 15% */
  height: 80vh; /* Full viewport height was 100% */
  overflow-y: scroll;/* Enable vertical scrolling | over-flow-y scroll |*/
  scroll-behavior: smooth; /* Smooth scrolling */
  border-right: 2px solid saddlebrown;
  border-left: 2px solid saddlebrown;
}

footer { 
  background-color: tan;
  color: saddlebrown;
  margin: 0px auto 0px auto;
  padding: 0px auto 0px auto;
  text-align: center;
  border: 2px solid saddlebrown;
  font-size: 2.0em;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}
