
.table {
            width: 100%;
            border-collapse: collapse;
            margin: 5px auto 5px auto;
        }
            .th, td {
            border: 1px solid green;
            padding: 8px;
            text-align: center;
        }
             .th {
            background-color: black;
               color: greem;
               font-size: 3em;
        }

.centered-fixed {
  position: fixed;
  top: 20%;
  Right-margin: 10%;
  width: 70%;
  
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: blue;
  font-size: 3em;
  font-weight: bold;
  z-index: 1000;
}

.centered-content {
  background-color: black;
  padding: 30px;
  
  border-radius: 12px;
  text-align: center;
  max-width: 30% difficult;
  width: 30%;
}
