/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: tan;
  color: saddlebrown;
  font-family: Arial, sans-serif;
/*  text-align: center; */
}

/* Header (blue banner) */
header {
  background-color: tan;
  color: saddlebrown;
  padding: 0.3em 0;      /* thin height */
  line-height: 1.2em;        /* tighten blue bar */

}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 1.2em;  /* vertically centered text */
	background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
h2 {
  background-color: tan;
  color: saddlebrown;
  font-size: 1.5em;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
  
}

.grid-container {
			display: grid;
			grid-template-columns: 1fr 2fr;
			gap: 10px;
	        overflow-y: scroll; /* Vertical scroll */
		}

		.grid-item {
			font-size: .7em;
			background-color: tan;
			padding: 20px;
			text-align: center;
		}


        .content {
            width: 500px; 
            height: 300px;
            background-color: tan;
            padding: 20px;
        }
          footer {
			 background-color: tan;
			  color: saddlebrown;
			  text-align: center;
			
		  }
