/* Base page settings */
   body {
  margin: 0;
  padding: 0;
  background-color: tan;
  color: saddlebrown;
  font-family: Arial, sans-serif;
 /* text-align: center;*/
}
* { box-sizing: border-box; }

/*body { font-family: sans-serif; }*/

.scene {
  width: 200px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 80px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  text-align: center;
}
  .cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }

/* Header */
header {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
/*  padding: 0.3em 0;   */
  border: 2px solid saddlebrown;
  margin: 0;
  line-height: 1;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);  /* Gradient */
}

header h1 {
  background-color: tan;
  color: saddlebrown;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em; 
/*  border: 2px solid saddlebrown; */
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}

h2 {
  background-color: tan;
  font-size: 3em;
  font-weight: 800;
  color: saddlebrown;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  border-bottom: 2px solid saddlebrown;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}

h3 {
  background-color: tan;
  font-size: 2em;
  color: saddlebrown;
  margin: 0px auto 10px auto;
  padding: 10px auto 10px auto;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}

 p {
  background-color: tan;
  color: saddlebrown;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  line-height: 50%;
}

    
/* Scroll Container doesn't scrooll but does make box */
.container {
  display: flex;
  flex-wrap: wrap;/* Allows items to wrap onto new lines */
  justify-content: right; /* change from right*/
  text-align: center;
  background-color: tan;
  color: saddlebrown;
}

.scroll-container {
  background-color: tan;
  color: saddlebrown;
  right: 100%;
  top: 0%;
  width: 60vw; /* was 70% top was 15% */
  height: 80vh; /* Full viewport height was 100% */
  overflow-y: scroll;/* Enable vertical scrolling | over-flow-y scroll |*/
  scroll-behavior: smooth; /* Smooth scrolling */
  border-right: 2px solid saddlebrown;
  border-left: 2px solid saddlebrown;
}

footer { 
  background-color: tan;
  color: saddlebrown;
  margin: 0px auto 0px auto;
  padding: 0px auto 0px auto;
  text-align: center;
  border: 2px solid saddlebrown;
  font-size: 2.0em;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}
