              .table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
            .th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: center;
        }
             .th {
            background-color: #f2f2f2;
        }

.centered-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: blue;
  font-size: 3em;
  font-weight: bold;
  z-index: 1000;
}

.centered-content {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}
