/* Base page settings */
html, body {
  margin: 0;
  padding: 0;
  background-color: ivory;
  color: saddlebrown;
  font-family: Arial, sans-serif;
 /* text-align: center;*/
}

/* Header (Green banner) */
header {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
  padding: 0.3em 0;     
  margin: 0;
  line-height: 1;        
}

header h1 {
  background-color: tan;
  color: saddlebrown;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;    
}

h2 {
  backgroud-color: tan;
  color: saddlebrown;
  padding: 20px auto 20px auto;
  background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
}
  .container {
    position: left;
    margin-right: 75%;
    margin-left: 0%;
    padding: 0 800px 200px 80px;
  

  
  
  
     .sidebar{
    top: 15%;
    left: 0;
    display: fixed;
    background-color: color;
    color: saddlebrown;
   align-text: left;
    background-image: radial-gradient(ivory,
                                tan,  saddlebrown);
  } 
  }
    

.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto new lines */
  justify-content: right;
  text-align: center;
  background-color: ivory;
  color: saddlebrown;
  

}

.scroll-container {
  background-color: ivory;
  color: saddlebrown;
  right: 100%;
  top: 15%;
  width: 70vw;
  height: 80vh; /* Full viewport height */
  over-flow: scroll; /* Enable vertical scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
}
